<head>
        <link rel="stylesheet" href="css/styles.css"/> <!-- static path for public folder is already set in app.js -->
</head>
<body>
    <div class="inner-container">
        <div class="box">
            <form action="/login" method="POST">
                <h1>Login</h1>
                    <input type="email" placeholder="Email" id="email" name="email" required>
                    <input type="password" placeholder="Password" id="password" name="password" required>
                    <button type="submit">Login</button>
                    <h3><a href="/register">Sign Up</a></h3>
            </form>
        </div>
    </div>
</body>
