@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

:root {
--background: #a0a0a0;
--gridMaxWidth: 24em;
--gridWidth: 90%;

}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  max-width: 650px;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  position: absolute;
  left: 30%;
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  font-size: 64px;
  margin-bottom: 120%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
/******** Login and Register **************/

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family: "Poppins";
  color:#fff;
  background:rgba(0,0,0,0.13);
}
.box p{
  color: #12131F;
  text-align: center
}
.box h1{
  color: #12131F;
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box h3{
  color: #12131F;
  text-align:center;
  font-size:16px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#25B562;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#25B562;
}
/******** WEATHER APP **************/
.main-content {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.widget {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation{
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
}

.weatherLocation button{
  background: #12131F;
  color:#fff;
  border: 1px solid transparent;
}
.weatherLocation input:focus{
  outline: 0 none;
}

.widget .weatherIcon {
  flex: 1 100%;
  color: #12131F;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
.widget .weatherIcon i {
  padding-top: 30px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #12131F;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: #25B562;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 0%;
}
p a {
  text-decoration: none;
  color: #25B562;
  font-size: 14px;
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #25B562;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #25B562;
}
.btn--primary:active {
  background: #25B562;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -96px;
}

.form__field {
  width: 360px;
  background: rgb(199, 199, 199);
  color: black;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 10px;
  outline: 0;
  padding: 22px 18px;
}